:root {
    --color-blanco: #FFFFFF;
    --color-azul-claro: #87CEFA;
    --color-azul-profundo: #2b58d3;
    --color-gris-claro: #e3e1e1;
    --color-azul-verdoso: #2f7e92;
    --color-amarillo-pastel: #FFF4B3;
}

* {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

::selection {
    background-color: #FFF4B3; 
    color: #2b58d3; 
}

header {
    background-color: #2b58d3;
    color: #FFFFFF;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.671);
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

header nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

header nav a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    flex: 1;
    padding: 10px 0;
    cursor: pointer;
    transition: 0.3s;
}

header nav a:hover {
    background-color: #1d3b8a;
    color: #FFF4B3;
}

header nav .selected{
    background-color: #1d3b8a;
}

.sesion {
    position: absolute;
    top: 30px;
    right: 70px;
    color: #FFFFFF;
    background-color: #2f7e92;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 14px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.54);
    cursor: default;
}